DB_HOST=localhost
DB_USER=tu_usuario_bd
DB_PASS=tu_password_bd
DB_NAME=tu_base_de_datos

APP_NAME=SIPCONS
APP_URL=https://tudominio.com

SESSION_LIFETIME=28800
SESSION_SECRET=genera_una_cadena_aleatoria_larga_aqui
